// Variables

$card-background-color: #ff6060;
$main-font-family: "Montserrat";
$main-font-weight: 700;
$text-color: white;
$main-backgroung-color: #f6f6f6;
$cheveron-display: flex;
$cheveron-flex-direction: row;
$cheveron-justify-content: flex-end;
$cheveron-align: center;
$card-justify-content: center;

// Mixin Definition

@mixin card-container-style {
  display: $cheveron-display;
  align-items: $cheveron-align;
  justify-content: $card-justify-content;
}

@mixin dropdown-cards-style {
  font-family: $main-font-family;
  background-color: $card-background-color;
}

@mixin font-style {
  font-family: $main-font-family;
  font-weight: $main-font-weight;
  color: $text-color;
}
@mixin cheveron-style {
  display: $cheveron-display;
  flex-direction: $cheveron-flex-direction;
  justify-content: $cheveron-justify-content;
  align-items: $cheveron-align;
}

// Mixin Application Desktop

main {
  .entry-card-container {
    @include card-container-style;
    width: 100%;
    border-radius: 10px;
    height: 170px;
    margin-bottom: 10px;

    .entry-card {
      @include card-container-style;
      width: 90%;
      border-radius: 10px;
      height: 170px;
    }

    .entry-card-img2 {
      width: 100%;
      border-radius: 20px;
      height: 170px;
      object-fit: cover;
      opacity: 100%;
      filter: brightness(0.5);
    }
  }

  ///////   Dropdown content Style   //////

    .data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

        .a-propos-cards-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: 0;
        margin-bottom: 0;

        .a-propos-cards {
            @include dropdown-cards-style;
            @include font-style;
            display: flex;
            width: 75%;
            border-radius: 4px;
            height: 30px;
            margin: 10px;
            padding: 6px;
            flex-direction: column;
            &.open {
            // When the dropdown is open
            margin-bottom: 70px; 
            transition: margin-top 10s ease-in-out;
            }

            .dropdown-content {
            display: block;
            align-items: center;
            background-color: #f6f6f6;
            color: black;
            width: 100%;
            border-radius: 0px 0px 5px 5px;
            height: 80px;
            margin: 10px 0px 0px -6px;
            padding: 0 0 0 12px;

            p {
                font-size: 14px;
                font-weight: 100;
            }
            }
        }

        h3 {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            margin-top: 3px;
        }

        .cheveron-up {
            @include cheveron-style;
            margin-top: -43px;
            margin-left: 93%;
            font-size: 23px;
            transition: transform 0.3s linear;
            transform-origin: 50% 50%;
            align-content: center;
        }

        .cheveron-up.open {
            transform: rotate(-180deg);
        }

        .cheveron-up-2 {
            @include cheveron-style;
            margin-top: -43px;
            margin-left: 93%;
            font-size: 23px;
            transition: transform 0.3s linear;
            transform-origin: 50% 50%;
            align-content: center;
        }
        .cheveron-up-2.open {
            transform: rotate(-180deg);
        }
        }
    }
}



// Tablet Version (max-width: 1024px)
@media screen and (max-width: 1024px) {
  main {
    .entry-card-container {
      height: 150px; 
      .entry-card {
        height: 150px; 
      }
      .entry-card-img2 {
        height: 150px; 
      }
    }

    .data-container {
      .a-propos-cards-container {
        .a-propos-cards {
          width: 80%; 
          height: 25px; 
          .dropdown-content {
            height: 70px;
            margin-top: 4px;
            p {
              font-size: 11px; 
            }
          }
        }
      }
    }
  }
}

// Mobile Version (max-width: 768px)
@media screen and (max-width: 768px) {
  main {
    .entry-card-container {
      height: 130px; 
      .entry-card {
        height: 130px; 
      }
      .entry-card-img2 {
        height: 130px; 
      }
    }

    .data-container {
      .a-propos-cards-container {

        h3{
          margin-bottom: 23px;
        }
        .a-propos-cards {
          width: 90%; 
          height: 25px; 

          &.open {
            margin-bottom: 95px;
            transition: margin-top 10s ease-in-out;
        }

          .dropdown-content {
            height: 90px; 
            margin: 1px 0px 0px -6px;
            p {
              font-size: 9px; 
            }
          }
        }
      }
    }
  }
}