// Variables

$carrousel-display: flex;
$carrousel-direction: column;
$carrousel-align: center;
$carrousel-border-radius: 15px;
$carrosuel-height: 330px;
$carrousel-width: 100%;
$main-color: #ff6060;
$font-family-description: "Montserrat";
$description-font-size: 30px;
$description-font-weight: 200;
$text-color: white;
$cheveron-display: flex;
$cheveron-flex-direction: row;
$cheveron-justify-content: flex-end;
$cheveron-align: center;
$card-justify-content: center;

// Mixin Definition

@mixin carrousel-style {
  display: $carrousel-display;
  flex-direction: $carrousel-direction;
  align-items: $carrousel-align;
  border-radius: $carrousel-border-radius;
  min-height: $carrosuel-height;
  width: $carrousel-width;
}

@mixin description-style {
  color: $main-color;
  font-family: $font-family-description;
  font-size: $description-font-size;
  font-weight: $description-font-weight;
}

@mixin dropdown-cards-style {
  font-family: $main-font-family;
  background-color: $card-background-color;
  color: $text-color;
}

@mixin cheveron-style {
  display: $cheveron-display;
  flex-direction: $cheveron-flex-direction;
  justify-content: $cheveron-justify-content;
  align-items: $cheveron-align;
  color: $text-color;
}

// Mixin Application

//// Carrousel /////

.carrousel-div {
  @include carrousel-style;
  justify-content: center;
  width: 100%;
  position: relative;

  .carrousel-images-container {
    @include carrousel-style;
    justify-content: center;
    width: 100%;
    position: relative;
  }

  img.carrousel-images {
    border-radius: 15px;
    position: absolute;
    z-index: -1;
    width: 90%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  p.carousel-counter {
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 85%;
    color: $text-color;
    font-size: 14px;
    font-family: $font-family-description;
  }

  .div-arrows {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;

    .arrow-left {
      position: absolute;
      left: 70px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    .arrow-right {
      position: absolute;
      right: 70px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}

/////// Description Sections (Desktop)//////

section.title-host-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin-top: 25px;
}

.apartement-title {
  @include description-style;
  margin-bottom: 0;
}

.apartement-location {
  font-family: $font-family-description;
  color: black;
  font-size: 15px;
  margin: 5px;
}

.host-name {
  @include description-style;
  margin-bottom: 0;
  flex-direction: row;
  margin-right: 25px;
  font-size: 20px;
}

img.host-picture {
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  object-fit: cover;
  height: 80px;
}

section.apartment-host-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 25px;

  .tags-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;

    .tag {
      background-color: #ff6060;
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 14px;
      color: white;
      padding: 2px 20px;
      border-radius: 6px;
      margin-right: 10px;
    }
  }

  .rating-host-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

    .host-info {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-wrap: nowrap;
      margin-bottom: 50px;
      position: absolute;
      right: 8%;
    }

    .rating-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 0;
      margin-left: auto;
    }

    .rating-star {
      color: #e3e3e3;
      font-size: 25px;
    }

    .rating-star.colored {
      color: #ff6060;
    }
  }
}

.description-section {
  display: flex;
  width: 100%;

  .description-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    .a-propos-cards-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-left: 0;
      margin-bottom: 20px;

      .a-propos-cards {
        @include dropdown-cards-style;
        @include font-style;
        display: flex;
        width: 78%;
        border-radius: 4px;
        height: 30px;
        margin: 10px;
        padding: 6px;
        flex-direction: column;
        &.open {
          // When the dropdown is open
          margin-bottom: 70px;
          transition: margin-top 10s ease-in-out;
        }

        .dropdown-content {
          display: block;
          align-items: center;
          background-color: #f6f6f6;
          color: black;
          width: 100%;
          border-radius: 0px 0px 5px 5px;
          height: 110px;
          margin: 10px 0px 0px -6px;
          padding: 0 0 0 12px;

          p {
            font-size: 14px;
            font-weight: 100;
            overflow-y: auto;
            max-height: 80px;
          }

          ul {
            list-style: none;
            font-family: "Montserrat";
            font-weight: 100;
            font-size: 15px;
            padding: 13px;
            overflow-y: auto;
            max-height: 80px;
          }
        }
      }

      h3 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 3px;
      }

      .cheveron-up,
      .cheveron-up-2 {
        @include cheveron-style;
        margin-top: -43px;
        margin-left: 93%;
        font-size: 23px;
        transition: transform 0.3s linear;
        transform-origin: 50% 50%;
        align-content: center;
      }

      .cheveron-up.open,
      .cheveron-up-2.open {
        transform: rotate(-180deg);
      }
    }
  }
}

//////////////// Tablet: 769px - 1024 //////////////////

@media (min-width: 769px) and (max-width: 1024px) {
  /////////// Carrousel Section (Tablet)

  .carrousel-div {
    @include carrousel-style;
    justify-content: center;
    width: 100%;
    position: relative;

    .carrousel-images-container {
      @include carrousel-style;
      justify-content: center;
      width: 100%;
      position: relative;
    }

    img.carrousel-images {
      border-radius: 15px;
      position: absolute;
      z-index: -1;
      width: 90%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    p.carousel-counter {
      display: flex;
      position: absolute;
      flex-direction: row;
      top: 85%;
      color: $text-color;
      font-size: 14px;
      font-family: $font-family-description;
    }

    .div-arrows {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;

      .arrow-left {
        position: absolute;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        height: 70px;
      }

      .arrow-right {
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        height: 70px;
      }
    }
  }

  //////////// Apartment information Section (Tablet)

  section.title-host-name {
    margin-top: 20px;
  }

  .apartement-title {
    @include description-style;
    margin-bottom: 0;
    font-size: 25px;
    margin-top: 0px;
  }

  .apartement-location {
    font-family: $font-family-description;
    color: black;
    font-size: 15px;
    margin: 6px 0 0 0;
  }

  //// Tags, Rating and Host information (Tablet)
  section.apartment-host-info {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 90%;
    align-items: flex-start;

    .rating-host-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 30px 0px 20px 0px;

      .host-info {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: -10px;

        .host-name {
          @include description-style;
          font-size: 19px;
          margin-right: 10px;
        }

        img.host-picture {
          border-radius: 50%;
          object-fit: cover;
          height: 70px;
        }
      }

      .rating-container {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        left: 0;

        .rating-star {
          color: #e3e3e3;
          font-size: 16px;
        }

        .rating-star.colored {
          color: #ff6060;
        }
      }
    }

    .tags-container {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    .tag {
      background-color: #ff6060;
      font-family: "Monserrat";
      font-weight: 700;
      font-size: 10px;
      color: white;
      padding: 2px 20px;
      border-radius: 5px;
      margin-right: 10px;
    }
  }

  ////// Description Section (Tablet)

  .description-section {
    display: flex;
    width: 100%;

    .description-info {
      display: flex;
      flex-direction: column;

      .a-propos-cards-container {
        .a-propos-cards {
          width: 90%;
          height: 20px;
          margin-bottom: 0;

          &.open {
            margin-bottom: 90px;
            transition: margin-top 10s ease-in-out;
          }

          .dropdown-content {
            height: 90px;
            margin: -1px 0px 0px -6px;
            p {
              font-size: 13px;
              max-height: 50px;
              overflow-y: auto;
            }

            ul {
              font-size: 12px;
              max-height: 50px;
              overflow-y: auto;
            }
          }
        }
      }
    }
    h3 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 0px;
      font-size: 13px;
      margin-left: 0px;
    }

    .cheveron-up {
      @include cheveron-style;
      margin-top: -29px !important;
      margin-left: 93%;
      font-size: 15px;
      transition: transform 0.3s linear;
      transform-origin: 50% 50%;
      align-content: center;
    }

    .cheveron-up.open {
      transform: rotate(-180deg);
    }
  }
}

////// Mobile: 320px - 768px

@media screen and (max-width: 768px) {
  /////////// Carrousel Section (Mobile)

  .carrousel-div {
    @include carrousel-style;
    justify-content: center;
    width: 100%;
    position: relative;

    .carrousel-images-container {
      @include carrousel-style;
      justify-content: center;
      width: 100%;
      position: relative;
      min-height: 300px;
    }

    img.carrousel-images {
      border-radius: 15px;
      position: absolute;
      z-index: -1;
      width: 90%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    p.carousel-counter {
      display: flex;
      position: absolute;
      flex-direction: row;
      top: 85%;
      color: $text-color;
      font-size: 14px;
      font-family: $font-family-description;
    }

    .div-arrows {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;

      .arrow-left {
        position: absolute;
        left: 35px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        height: 35px;
      }

      .arrow-right {
        position: absolute;
        right: 35px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        height: 35px;
      }
    }
  }

  //////////// Apartment information Section (Mobile)

  section.title-host-name {
    margin-top: 0;
  }

  .apartement-title {
    @include description-style;
    margin-bottom: 0;
    font-size: 19px;
    margin-top: 0px;
  }

  .apartement-location {
    font-family: $font-family-description;
    color: black;
    font-size: 10px;
    margin: 6px 0 0 0;
  }

  //// Tags, Rating and Host information (Mobile)

  section.apartment-host-info {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 90%;
    align-items: flex-start;

    .rating-host-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 30px 0px 20px 0px;

      .host-info {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: -10px;

        .host-name {
          @include description-style;
          font-size: 12px;
          margin-right: 10px;
        }

        img.host-picture {
          border-radius: 50%;
          object-fit: cover;
          height: 40px;
        }
      }

      .rating-container {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        left: 0;

        .rating-star {
          color: #e3e3e3;
          font-size: 13px;
        }

        .rating-star.colored {
          color: #ff6060;
        }
      }
    }

    .tags-container {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 10px;
      gap: 5px;
    }

    .tag {
      background-color: #ff6060;
      font-family: "Monserrat";
      font-weight: 700;
      font-size: 10px;
      color: white;
      padding: 2px 20px;
      border-radius: 5px;
      margin-right: 10px;
    }
  }

  ////// Description Section (Mobiile)

  .description-section {
    display: flex;
    width: 100%;

    .description-info {
      display: flex;
      flex-direction: column;

      .a-propos-cards-container {
        margin-top: -5px;

        .a-propos-cards {
          width: 90%;
          height: 20px;
          margin-bottom: 0px;

          &.open {
            margin-bottom: 90px;
            transition: margin-top 10s ease-in-out;
          }

          .dropdown-content {
            height: 90px;
            margin: 1px 0px 0px -6px;
            p {
              font-size: 10px;
              max-height: 70px;
              overflow-y: auto;
              padding: 6px;
            }
            ul {
              font-size: 9px;
              max-height: 70px;
              overflow-y: auto;
              padding: 6px;
            }
          }
        }
      }
    }
    h3 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 5px;
      font-size: 11px;
      margin-left: 0px;
    }

    .cheveron-up {
      @include cheveron-style;
      margin-top: -29px !important;
      margin-left: 93%;
      font-size: 15px;
      transition: transform 0.3s linear;
      transform-origin: 50% 50%;
      align-content: center;
    }

    .cheveron-up.open {
      transform: rotate(-180deg);
    }
  }
}
