// Variables

$carrousel-display: flex;
$carrousel-direction: column;
$carrousel-align: center;
$carrousel-border-radius: 15px;
$carrosuel-height: 330px;
$carrousel-width: 90%;
$main-color: #ff6060;
$font-family-description: "Montserrat";
$description-font-size: 30px;
$description-font-weight: 200;
$text-color: white;
$cheveron-display: flex;
$cheveron-flex-direction: row;
$cheveron-justify-content: flex-end;
$cheveron-align: center;
$card-justify-content: center;

// Mixin Definition

@mixin carrousel-style {
  display: $carrousel-display;
  flex-direction: $carrousel-direction;
  align-items: $carrousel-align;
  border-radius: $carrousel-border-radius;
  min-height: $carrosuel-height;
  width: $carrousel-width;
}

@mixin description-style {
  color: $main-color;
  font-family: $font-family-description;
  font-size: $description-font-size;
  font-weight: $description-font-weight;
}

@mixin dropdown-cards-style {
  font-family: $main-font-family;
  background-color: $card-background-color;
  color: $text-color;
}

@mixin cheveron-style {
  display: $cheveron-display;
  flex-direction: $cheveron-flex-direction;
  justify-content: $cheveron-justify-content;
  align-items: $cheveron-align;
  color: $text-color;
}

// Mixin Application Desktop

//// Carrousel /////

.carrousel-div {
  @include carrousel-style;
  justify-content: center;
  width: 100%;
  position: relative;

  .carrousel-images-container {
    @include carrousel-style;
    justify-content: center;
    width: 100%;
    position: relative;
  }

  img.carrousel-images {
    border-radius: 15px;
    position: absolute;
    z-index: -1;
    width: 90%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  p.carousel-counter {
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 85%;
    color: $text-color;
    font-size: 14px;
    font-family: $font-family-description;
  }

  .div-arrows {
    position: absolute;
    display: flex;
    gap: 970px;

    .arrow-left {
      left: 10px;
      position: sticky;
      cursor: pointer;
    }

    .arrow-right {
      right: 10px;
      position: sticky;
      cursor: pointer;
    }
  }
}

/////// Description Sections://////

section.title-host-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin-top: 25px;

  .host-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
  }
}

.apartement-title {
  @include description-style;
  margin-bottom: 0;
}

.apartement-location {
  font-family: $font-family-description;
  color: black;
  font-size: 15px;
  margin: 5px;
}

.host-name {
  @include description-style;
  margin-bottom: 0;
  flex-direction: row;
  margin-right: 25px;
  font-size: 20px;
}

img.host-picture {
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  object-fit: cover;
  height: 80px;
}

section.apartment-host-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 90%;
  gap: 68%;

  .tags-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: -42px;

    .tag {
      background-color: #ff6060;
      font-family: "Monserrat";
      font-weight: 700;
      font-size: 14px;
      color: white;
      padding: 2px 20px;
      border-radius: 8px;
      margin-right: 10px;
    }
  }

  .rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .rating-star {
    color: #e3e3e3;
    font-size: 25px;
  }

  .rating-star.colored {
    color: #ff6060;
  }
}

.description-section {
  display: flex;
  width: 100%;

  .description-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 102%;
    margin-top: 30px;

    .a-propos-cards-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-left: 0;
      margin-left: -15px;
      margin-right: -15px;

      .a-propos-cards {
        @include dropdown-cards-style;
        @include font-style;
        display: flex;
        width: 75%;
        border-radius: 4px;
        height: 30px;
        padding: 6px;
        flex-direction: column;
        margin-bottom: 90px;

        &.open {
          // When the dropdown is open
          transition: margin-bottom 5ms linear;
        }

        .dropdown-content {
          display: block;
          align-items: center;
          background-color: #f6f6f6;
          color: black;
          width: 100%;
          border-radius: 0px 0px 5px 5px;
          height: 120px;
          margin: 10px 10px 0px -6px;
          padding: 0 0 0 12px;

          p {
            font-size: 14px;
            font-weight: 100;
            padding: 5px;
          }
        }
      }

      h3 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 3px;
      }

      .cheveron-up,
      .cheveron-up-2 {
        @include cheveron-style;
        margin-top: -43px;
        margin-left: 93%;
        font-size: 23px;
        transition: transform 0.3s linear;
        transform-origin: 50% 50%;
        align-content: center;
      }

      .cheveron-up.open,
      .cheveron-up-2.open {
        transform: rotate(-180deg);
      }
    }
  }
}

//// Mobile and Tablet Version ////

// Mobile: 320px - 768px
@media screen and (max-width: 768px) {
  .carrousel-div {
    @include carrousel-style;
    justify-content: center;
    width: 100%;
    min-height: 273px;

    .carrousel-images-container {
      @include carrousel-style;
      border-radius: 15px;
      min-height: 228px;
      justify-content: center;
      width: 106%;
      position: relative;
      margin-top: 15px;
    }

    img.carrousel-images {
      border-radius: 15px;
      position: absolute;
      z-index: -1;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    p.carousel-counter {
      display: flex;
      position: absolute;
      flex-direction: row;
      top: 85%;
      color: $text-color;
      font-size: 14px;
      font-family: $font-family-description;
    }

    .div-arrows {
      position: absolute;
      display: flex;
      gap: 260px;
      height: 30px;

      .arrow-left {
        left: 5px;
        position: sticky;
        cursor: pointer;
      }

      .arrow-right {
        right: 5px;
        position: sticky;
        cursor: pointer;
      }
    }
  }
  section.title-host-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin-top: 0px;

    .host-info {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      position: absolute;
      top: 400px;
      margin-left: 53%;
      margin-right: 10%;
    }
  }

  .apartement-title {
    @include description-style;
    margin-bottom: 0;
    font-size: 19px;
    margin-top: 0px;
  }

  .apartement-location {
    font-family: $font-family-description;
    color: black;
    font-size: 10px;
    margin: 6px 0 0 0;
  }

  .host-name {
    @include description-style;
    margin-bottom: 0;
    flex-direction: row;
    margin-right: 10px;
    font-size: 12px;
  }

  img.host-picture {
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    object-fit: cover;
    height: 40px;
  }

  section.apartment-host-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 90%;
    gap: 68%;

    .tags-container {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-right: -42px;

      .tag {
        background-color: #ff6060;
        font-family: "Monserrat";
        font-weight: 700;
        font-size: 10px;
        color: white;
        padding: 2px 20px;
        border-radius: 5px;
        margin-right: 10px;
      }
    }

    .rating-container {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      position: absolute;
      top: 400px;
    }

    .rating-star {
      color: #e3e3e3;
      font-size: 13px;
    }

    .rating-star.colored {
      color: #ff6060;
    }
  }

  .description-section {
    display: flex;
    width: 100%;

    .description-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 85px;

      .a-propos-cards-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        height: 18px;

        .a-propos-cards {
          @include dropdown-cards-style;
          @include font-style;
          display: flex;
          width: 90%;
          border-radius: 4px;
          height: 30px;
          padding: 7px 0px 7px 10px;
          flex-direction: column;

          &.open {
            // When the dropdown is open
            margin-bottom: 70px;
            transition: margin-top 10s ease-in-out;
          }

          .dropdown-content {
            display: block;
            align-items: center;
            background-color: #f6f6f6;
            color: black;
            width: 100%;
            border-radius: 0px 0px 5px 5px;
            height: 150px;
            margin: 10px 0px 0px -10px;
            padding: 0 0 0 10px;

            p {
              font-size: 10px;
              font-weight: 100;
              padding: 5px;
            }
          }
        }

        h3 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          margin-top: -3px;
          font-size: 11px;
          margin-left: 0px;
        }

        .cheveron-up,
        .cheveron-up-2 {
          @include cheveron-style;
          margin-top: -26px;
          margin-left: 93%;
          font-size: 15px;
          transition: transform 0.3s linear;
          transform-origin: 50% 50%;
          align-content: center;
        }

        .cheveron-up.open,
        .cheveron-up-2.open {
          transform: rotate(-180deg);
        }
      }
    }
  }
}
