@import '@fontsource/montserrat'; // Defaults to weight 400
@import '@fontsource/montserrat/700.css';
@import 'header';
@import 'footer';
@import 'profileCards';
@import 'errorStyle';
@import 'apropos';
@import 'logements';

body {
    margin: 0;

    .app-div{
        width: 100%;
    }
}


//// Mobile Version ////

// Mobile: 320px - 768px
@media screen and (max-width: 768px) {

    body {
        margin: 0;
    
        .app-div{
            width: 100%;
        }
    }
}