// Variables

$card-background-color: #FF6060;
$main-font-family: "Montserrat";
$main-font-weight: 700;
$text-color: white;
$main-backgroung-color: #F6F6F6;


// Mixin Definition

@mixin profile-cards-style{
font-family: $main-font-family;
background-color: $card-background-color;
}

@mixin font-style {
    font-family: $main-font-family;
    font-weight: $main-font-weight;
    color: $text-color;
}

// Mixin Application Desktop

main {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 50px 25px 50px;
    align-items: center;

    .entry-card-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 10px;
        height: 120px;
        margin-bottom: 10px;

        .entry-card {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            border-radius: 10px;
            height: 120px;
        }

        .entry-card-img1 {
            width: 100%;
            border-radius: 10px;
            height: 120px;
            object-fit: cover;
            opacity: 75%;
            filter: brightness(40%);
        }

    .text-entry-card {
        @include font-style;
        font-size: 25px;
        position:absolute;
    }

    }

    .profile-cards-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: $main-backgroung-color;
        border-radius: 10px;
        width: 90%;
        margin-bottom: 25px;
        margin-top: 25px;
        gap: 25px;
        padding: 25px 0 25px 0;
}

.profile-cards {
    @include profile-cards-style;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 5px;
    height: 150px;
    width: 150px;
    cursor: pointer;


    p {
        @include font-style;
        display: flex;
        font-size: 10px;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 10px;
        font-weight: 700;

    }
}
}
